@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
.h1-primary {
  @apply text-[40px] text-center text-gray-800 mb-[30px];
  text-transform: uppercase;
}
.h2-primary {
  @apply text-[36px] text-center;
}
.text-primary {
  @apply text-center text-[18px] font-[500] text-gray-800;
}
.text-secondary {
  @apply text-center text-[18px] font-[400] text-gray-800;
}
.text-footer {
  @apply text-left text-[18px] font-[400] text-gray-200;
}
.text-btn {
  @apply hover:text-slate-700;
}
.center-item {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}
.center-col {
  @apply absolute top-[50%]   translate-y-[-50%];
}
.overlay {
  @apply bg-slate-600 opacity-50 absolute top-0 left-0 w-full h-[100%];
}
.btn-primary {
  @apply flex flex-row justify-center items-center;
}
.btn-card-lg {
  @apply flex flex-row items-center justify-center border-solid border-slate-200 border-2 w-[150px];
}
.btn-service:hover p {
  @apply text-slate-900;
}
.btn {
  @apply hover:bg-slate-100;
}
.space {
  letter-spacing: 1.5px;
}
.grid-md-cols {
  @apply grid md:grid-cols-2;
}
.grid-sm-cols {
  @apply grid sm:grid-cols-2;
}
.grid-lg-cols {
  @apply grid lg:grid-cols-3;
}
.sub_container {
  @apply border-slate-500 border-solid border-[1px] rounded-lg shadow-md;
}
